.example-block{
    border: 10px solid rgb(242, 11, 11);
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px black, inset 5px  5px blue;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
    opacity: 0.5;
}

.example-string{
    border: 20px dotted green;
    margin: 50px 30px 40px;
    padding: 30px;
    font-size: 20px;

}

.example-img{
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 5px dashed yellow;
    opacity: 0.5;
}
