body{
    margin: 20px;
    background-color: rgba(202, 159, 159, 0.582);
}



.block p{
    font-size: 18px;
    line-height: 20px;
    margin: 20px;

}

.link{
    color: aqua;
}

.textinput{
    border: 1px solid green;
    height: 100px;
    width: 150px;
    font-size: 12px;
    text-align: center;
    
}

.text_submit{
    display: block;
    font-size: 20px;
    height: 40px;
    width: 156px;
    color: green;
}