.example-padding{
    padding: 30px 40px 30px 30px;
    border: 1px solid red;
    border-radius: 10px;
}

.example-margin{
    margin: 60px 40px 30px 30px;
    border: 1px solid blue;
    border-radius: 10px
}

.example-string{
border: 1px solid yellow;
border-radius: 10px;
width: 200px;
height: 200px;
text-align: center;
}